<h2 class="screen-align">Createscreen</h2>
<div class="">
    <div id="template-irli" class="">
        <div id="template-irff" class="gjs-row">
            <div id="template-i20m" class="gjs-cell">
                <input type="text" id="template-iex3" placeholder="name" required="true"
                [(ngModel)]="employee.name" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
            <div id="template-ird3" class="gjs-cell">
                <input type="text" id="template-ij8r" placeholder="email" required="true"
                [(ngModel)]="employee.email" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
        </div>
        <div id="template-ie6l" class="gjs-row">
            <div id="template-i9zj" class="gjs-cell">
                <input type="text" id="template-i1fmk" placeholder="age" required="true"
                [(ngModel)]="employee.age" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
            <div id="template-iefog" class="gjs-cell">
                <input type="text" id="template-iafgv" placeholder="address" required="true"
                [(ngModel)]="employee.address" [ngModelOptions]="{standalone: true}" ngDefaultControl
                class="form-control " />
            </div>
        </div>
        <div id="template-iw0nh" class="gjs-row">
            <div id="template-ilxcz" class="gjs-cell">
                <div type="button" id="template-iizsc" class="btn btn-primary ">create</div>
            </div>
        </div>
    </div>
</div>